# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../:\Users\彭宇儿的饲养员\Downloads\【批量下载】主从同步等\Python\Python课件\基础班-就业班课件资料 -1-4位基础班  5-14就业班\10-web全栈开发阶段-爱家租房项目\17-爱家租房项目\第七天\ihome_python04_最终完整版\ihome_python04\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
